In [18]:
import numpy as ny 
# Tạo mảng
arr=ny.linspace(1, 15, 15)
# Kích thước mảng 
arr.size 
# Số chiều 
arr.ndim 
# Đổi kiểu dữ liệu của mảng 
arr.astype('float16')
# Thêm phần tử vào mảng 
arr1=ny.linspace(-3,-1,3)
arr1=ny.append(arr1, arr)
# Xóa 1 phần tử 
arr=ny.delete(arr, 4)
arr.shape

(15,)

In [21]:
#Bai 3 
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting pytz>=2017.2
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\envs\tensorflow_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in c:\anaconda\envs\tensorflow_env\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\anaconda\envs\tensorflow_env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.5 pytz-2024.1

In [26]:
#Tạo Series 
import pandas as pd
import numpy as ny 
#Tạo Series từ 1 danh sách
pd.Series(['Hường', 'Dũng', 'Di', 'Thu'])
#Tạo Series từ mảng NumPy
pd.Series(ny.array(['Hường', 'Dũng', 'Di', 'Thu']))
#Tạo Series bằng từ điển 
giaToc={'Dung':208, 'Thu':2010, 'Di':2205}
pd.Series(giaToc)

Dung     208
Thu     2010
Di      2205
dtype: int64

In [38]:
import pandas

data = {'Gia': [500,600,900], 'Soluong': [5,10,15]}
df_data = pandas.DataFrame(data, index=['Ngay1','Ngay2','Ngay3'])
print(df_data.loc['Ngay3'])

Gia        900
Soluong     15
Name: Ngay3, dtype: int64

In [2]:
#Tạo DataFrames 
import pandas as pd
# Tạo DataFrame 
dataFrame1=pd.DataFrame({'name':['Dung', 'Thu', 'Di'], 'birthday':[208, 2010, 2206]})
#Lấy 1 ô dữ liệu (name không thay được bằng số)
dataFrame1['name'][1]
#Lấy 1 cột dữ liệu 
dataFrame1['name']
#Lấy 1 hàng dữ liệu 
dataFrame2=pd.DataFrame({'name':['Dung', 'Thu', 'Di'], 'birthday':[208, 2010, 2206]}, index=['a1', 'a2', 'a3'])
dataFrame2.loc['a1']
#Hàm  
dataFrame1.sum()
dataFrame1.mean()
dataFrame1.median()

birthday    2010.0
dtype: float64